APP_ENV=local
APP_PORT=8888
APP_LANG=en
APP_TIMEZONE=Asia/Jakarta
APP_NAME=

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_USER=
DB_PASSWORD=
DB_NAME=go
DB_PORT=3306

TEST_DB_DRIVER=mysql
TEST_DB_HOST=127.0.0.1
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_NAME=go-test
TEST_DB_PORT=3306

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

TEST_REDIS_HOST=127.0.0.1
TEST_REDIS_PORT=6379
TEST_REDIS_PASSWORD=
TEST_REDIS_DB=0

MINIO_HOST=127.0.0.1:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=miniostorage
MINIO_BUCKET=go-rest-skeleton

SMTP_HOST=
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=

ROLLBAR_TOKEN=

ENABLE_ROLLBAR=false
ENABLE_REQUEST_ID=true
ENABLE_LOGGER=true
ENABLE_CORS=true

OAUTH_ID=go-rest-skeleton
OAUTH_SECRET=
OAUTH_DOMAIN=

APP_PRIVATE_KEY=
APP_PUBLIC_KEY=